body {
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
}

.clock-container {
    font-size: 40px;
}

#clock {
    color: #00ffcc;
}
